@model CategoryListModel
@{
    Layout="_AdminLayout";
}

<div class="container mt-2">
    <h2>Admin Categories</h2>
    <hr>
    <div class="mb-3 d-flex align-items-end">
        <a href="/admin/panel" class="btn btn-secondary btn-sm "><i class="fas fa-arrow-circle-left"></i> Back to panel</a>
        <i class="fal fa-grip-lines-vertical mx-1" style="font-size: 28px;"></i>
        <a href="/admin/category/create" class="btn btn-primary btn-sm @(User.IsInRole("admin")?"":"disabled")"><i class="fas fa-plus-circle"></i> Add Category</a>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-8 order-2">
            @if (TempData["message"] != null)
            {
                var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String);
                @await Html.PartialAsync("_alert", message);
            }
        </div>
        <div class="card col-12 col-sm-6 col-lg-3 mb-3 order-1 p-0 cardInformation">
            <div class="card-header">Category Information</div>
            <div class="card-body">
                <h6>Total Category: @Model.Categories.Count()</h6>
            </div>
        </div>
    </div>

    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th style="width: 50px;">Id</th>
                    <th>Name</th>
                    <th>Url</th>
                    <th style="width: 130px;">Events</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.Name</td>
                        <td>@item.Url</td>
                        <td>
                            <a href="/admin/category/edit/@item.CategoryId" type="button" class="btn btn-primary btn-sm @(User.IsInRole("admin")?"":"disabled")">Edit</a>
                            <button data-target="/admin/CategoryDelete/@item.CategoryId" class="btn btn-danger btn-sm d-inline categoryDeleteModalBtn @(User.IsInRole("admin")?"":"disabled")" data-bs-toggle="modal" data-bs-target="#categoryDeleteModal">Delete</button>

                            <div class="modal fade" id="categoryDeleteModal" data-bs-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header bg-danger text-white">
                                            <h4 class="modal-title">Delete the category ?</h4>
                                            <button type="button" class="btn-close btn-close-white text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        
                                        <div class="modal-body text-center">
                                                <i class="bi bi-x-octagon-fill text-danger" style="font-size: 35px;"></i>
                                                
                                                <p class="modalBodyText"> <strong>Dikkat !</strong> Bu kategoriyi kalıcı olarak silmek istediğinize emin misiniz ?</p>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i> Cancel</button>
                                            <a href="" class="btn btn-danger categoryDeleteButon"><i class="far fa-trash-alt"></i> Delete</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>


</div>