@model ProductModel
@{
    Layout="_AdminLayout";
}

<div class="container mt-3" style="margin-bottom: 100px;">
    <h2>Admin Edit Product</h2>
    <hr>

    <form asp-controller="Admin" asp-action="ProductEdit" enctype="multipart/form-data">
        <input type="hidden" asp-for="ProductId">
        <div class="row mt-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-8">
                <div class="row mb-1 mb-sm-3 d-flex align-items-end">
                    <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input type="text" asp-for="Name" class="form-control">                        
                    </div>
                </div>
                <div class="row mb-1 mb-sm-3 d-flex align-items-end">
                    <label asp-for="Url" class="col-sm-2 col-form-label">Url</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Url" class="text-danger"></span>
                        <input type="text" asp-for="Url" class="form-control">
                    </div>
                </div>
                <div class="row mb-1 mb-sm-3 d-flex align-items-end">
                    <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Price" class="text-danger"></span>
                        <input type="text" asp-for="Price" class="form-control">
                    </div>
                </div>
                <div class="row mb-1 mb-sm-3 d-flex align-items-end">
                    <label asp-for="Rating" class="col-sm-2 col-form-label">Rating</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Rating" class="text-danger"></span>
                        <input type="number" asp-for="Rating" class="form-control" min="0" max="5" step="0.5">
                    </div>
                </div>
                <div class="row mb-1 mb-sm-3 d-flex align-items-end">
                    <label asp-for="Stock" class="col-sm-2 col-form-label">Stock</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Stock" class="text-danger"></span>
                        <input type="number" asp-for="Stock" class="form-control" min="0" max="1000">
                    </div>
                </div>
                <div class="row mb-1 mb-sm-3 d-flex align-items-end">
                    <label asp-for="DateAdded" class="col-sm-2 col-form-label">DateAdded</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="DateAdded" class="text-danger"></span>
                        <input type="text" asp-for="DateAdded" class="form-control">
                    </div>
                </div>
                <div class="row mb-1 mb-sm-3 d-flex align-items-center">
                    <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <textarea asp-for="Description" class="form-control" id="editor" rows="3"></textarea>
                    </div>
                </div>
                <div class="row mb-2 mb-sm-4 d-flex align-items-center">
                    <label asp-for="ImageUrl" class="col-sm-2 col-form-label">Add Image</label>
                    <div class="col-sm-10 row d-flex align-items-center justify-content-center">
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        <div class="col-12 col-sm-9 col-md-3 mb-2">
                            <img src="/img/@Model.ImageUrl" class="w-100">
                        </div>

                        <div class="col-md-9">
                            <input type="hidden" asp-for="ImageUrl" class="form-control">
                            <input type="file" class="form-control" name="file">
                        </div>                        
                    </div>
                </div>
                <div class="row mb-1 mb-sm-2 d-flex align-items-center">
                    <label for="" class="col-form-label col-sm-2">Edit Image Url</label>
                    <div class="col-sm-10">
                        <div class="row d-flex align-items-center">
                            <div class="col-12 d-flex flex-wrap">
                                @foreach (var item in ViewBag.AllImageUrl)
                                {
                                    <div class="form-check border rounded-2 me-1" style="width: 90px;">
                                        <label for="@item" class="" style="margin-left: 0px;">@(item.Length>6?item.Substring(0,5)+"...":item)<img src="/img/@item" class="w-100"></label>
                                        <input type="radio" name="selectedImageUrl" @(Model.ImageUrl==item?"checked":"") value="@item" class="form-check-input" id="@item">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 offset-sm-2 mt-4 mb-2 mb-md-0">
                        <a href="/admin/products" class="btn btn-secondary me-1"><i class="fas fa-arrow-circle-left"></i> Back to list</a>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-save2" style="font-weight: 900;"></i> Save Product</button>
                    </div>
                </div>
            </div>

            @for (int i = 0; i < Model.SelectedCategories.Count; i++)
            {
                <input type="hidden" name="SelectedCategories[@i].CategoryId" value="@Model.SelectedCategories[@i].CategoryId">
                <input type="hidden" name="SelectedCategories[@i].Name" value="@Model.SelectedCategories[@i].Name">
            }

            <div class="col-md-4 border">
                <h4 class="text-center my-2">Options</h4>
                @foreach (var item in ViewBag.AllCategories)
                {
                    <div class="form-check">
                        <input type="checkbox" name="categoryIds" value="@item.CategoryId" id="@item.CategoryId" class="form-check-input" @(Model.SelectedCategories.Any(i => i.CategoryId == item.CategoryId)?"checked":"")>
                        <label for="@item.CategoryId">@item.Name</label>
                    </div>
                }
                <hr>
                 <div class="form-check">
                    <input type="checkbox" asp-for="IsHome" class="form-check-input">
                    <label asp-for="IsHome">Is Home</label>                
                </div>
                <div class="form-check mb-2 mb-md-0">
                    <input type="checkbox" asp-for="IsApproved" class="form-check-input">
                    <label asp-for="IsApproved">Is Approved</label>                
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="/modules/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor",
        {
            height: 200
        });
    </script>
}