@model IEnumerable<User>
@{
    Layout="_AdminLayout";
}

<div class="container">
    <h2>Admin User List</h2>
    <hr>
    <div class="mb-3 d-flex align-items-end">
        <a href="/admin/panel" class="btn btn-secondary btn-sm "><i class="fas fa-arrow-circle-left"></i> Back to panel</a>
        <i class="fal fa-grip-lines-vertical mx-1" style="font-size: 28px;"></i>
        <a href="/admin/user/create" class="btn btn-primary btn-sm @(User.IsInRole("admin")?"":"disabled")"><i class="fas fa-user-plus"></i> Add User</a>
    </div>    

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-8 order-2">
            @if (TempData["message"] != null)
            {
                var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String);
                @await Html.PartialAsync("_alert", message);
            }
        </div>
        <div class="card col-12 col-sm-6 col-lg-3 mb-3 order-1 p-0 cardInformation">
            <div class="card-header">User Information</div>
            <div class="card-body">
                <h6>Total User: @Model.Count()</h6>
                <h6>Email Confirmed User: @(Model.Where(i => i.EmailConfirmed).Count())</h6>
            </div>
        </div>
    </div>

    @if (Model.Count() == 0)
    {
        <div class="alert alert-danger mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-exclamation-circle-fill text-danger" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
            <span>No user found in database !</span>
        </div>
    } else {
        <div class="row">        

            <div class="table-responsive mt-1 mb-5 mb-md-0">
                <table class="table table-bordered table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>UserName</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th style="width: 140px;">EmailConfirmed</th>
                            <th>DateTime</th>
                            <th style="width: 130px;">Events</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.UserName</td>
                                <td>
                                    @if (User.IsInRole("admin"))
                                    {
                                       @item.CopyPassword 
                                    } else {
                                        <span>Yetki yok !</span>
                                    }
                                </td>
                                <td>@item.Email</td>
                                <td>
                                    @if (item.EmailConfirmed)
                                    {
                                        <i class="bi bi-check-circle-fill text-success myBootstrapIcon"></i>
                                    } else {
                                        <i class="bi bi-x-circle-fill text-danger myBootstrapIcon"></i>
                                    }
                                </td>
                                <td>@item.DateTime</td>
                                <td>
                                    <a href="/admin/user/edit/@item.Id" class="btn btn-primary btn-sm @(User.IsInRole("admin")?"":"disabled")">Edit</a>
                                    @* <a href="" class="btn btn-danger btn-sm">Delete</a> *@
                                    <button data-target="/Admin/UserDelete/@item.Id" class="btn btn-danger btn-sm d-inline userDeleteModalBtn @(User.IsInRole("admin")?"":"disabled")" data-bs-toggle="modal" data-bs-target="#userDeleteModal">Delete</button>

                                    <div class="modal fade" id="userDeleteModal" data-bs-backdrop="static">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header bg-danger text-white">
                                                    <h4 class="modal-title">Delete the user ?</h4>
                                                    <button type="button" class="btn-close btn-close-white text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                
                                                <div class="modal-body text-center">
                                                        <i class="bi bi-x-octagon-fill text-danger" style="font-size: 35px;"></i>
                                                        
                                                        <p class="modalBodyText"> <strong>Dikkat !</strong> Bu kullanıcıyı kalıcı olarak silmek istediğinize emin misiniz ?</p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i> Cancel</button>
                                                    <a href="" class="btn btn-danger userDeleteButon"><i class="far fa-trash-alt"></i> Delete</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }                    
                    </tbody>
                </table>
            </div>
        </div>
    }    
</div>